
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Login</h2>

@if (Session["log"] != null && Session["typeEntity"] != null && Session["typeEntity"].Equals("student"))


{<text>
        Welcome @Session["log"].ToString() with user ID: @Session["userID"].ToString() .
</text>


}


