@{
    ViewBag.Title = "Index";
}

@*<h2 style="text-align:center;">Adauga Solicitant</h2>*@


<div class="Container">
    <div>
        <h2 style="text-align:center;">
            @Html.ActionLink(">> Adauga Solicitant", "Menu", "ShapefileRequest")
        </h2>
    </div>


</div>



