@{
    ViewBag.Title = "DownloadFiles";
}

<h2>Download Files</h2>
<div>
    @if (ViewBag.ErrorValidationDownload != null)
            {
        @ViewBag.ErrorValidationDownload;
            }
</div>

